:host {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  white-space:nowrap;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: white;
}

floating-menu-veil {
  display: none;
  /*pointer-events: none;*/
}
floating-menu-veil.visible {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  z-index: 999999;
  display: block;
  opacity: 0.25;
}

floating-menu {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
  position: fixed;
  z-index: 1000000;
}
floating-menu.expanded {
  visibility: visible;
}

floating-menu-item {
  position: relative;
  display: block;
  cursor: pointer;
  min-width: 80px;
  padding: 2px 9px;
  border-radius: 1px;
}
floating-menu-item.noAction {
  opacity: 0.25;
}
floating-menu-item.empty {
  height: 1px;
  border-radius: 0;
  margin: 4px 0;
  padding: 0;
  background: #fff;
  opacity: 0.5;
}
floating-menu-item:not(.empty).expanded {
  background: #69F;
  color: #fff;
}
floating-menu-item:not(.empty):hover {
}

floating-submenu {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  display: none;
  position: absolute;
  top:0;
  left: 100%;
  min-width: 80px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 4px 0;
  border-radius: 2px;
  background: #666;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
}

floating-submenu:not(.empty).expanded {
  display: block;
}