:host {
  position: relative;
  display: block;
  cursor: pointer;
  min-width: 80px;
  padding: 2px 9px;
  border-radius: 1px;
  color: #ccc;
}
:host(:not(.active)) {
  opacity: 0.25;
}
:host(.expanded) {
  background: #69F;
  color: #fff;
}