

@host {
  * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space:nowrap;
    font-size: 12px;
    color: white;
  }

  .floating-menu-vail {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    z-index: 999999;
    opacity: 0;
  }

  .floating-menu-vail.visible {
    display: block;
    opacity: 0.5;
  }

  .floating-menu {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
    position: fixed;
    z-index: 1000000;
  }
  .floating-menu.visible {
    visibility: visible;
  }

  .floating-menu-item {
    position: relative;
    display: block;
    cursor: pointer;
    min-width: 80px;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .floating-menu-item.empty {
    height: 1px;
    border-radius: 0;
    margin: 0 4px;
    padding: 0;
    background: #fff;
    opacity: 0.25;
  }
  .floating-menu-item:not(.empty).expanded {
    /*TODO: only when hover when not mobile*/
    background: #999;
    color: #fff;
  }

  .floating-submenu {
    display: none;
    /*visibility: hidden;*/
    position: absolute;
    top:0;
    left: 100%;
    min-width: 80px;
    border: 1px solid white;
    padding: 4px;
    border-radius: 4px;
    background: #666;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  .floating-submenu:not(.empty).expanded {
    display: block;
    /*visibility: visible;*/
  }

}